#content {
    margin-top: 40px;
}

.doctor {
    margin: auto;
    background: #F2F9F4;
    width: 900px;
    height: 200px;
    padding: 10px;
}

.doctor:hover {
    box-shadow: 0 0 5px 2px lightgray;
}

.schedule {
    width: 900px;
    margin: auto;
    margin-top: 40px;
}

.schedule table {
    margin: auto;
}

.schedule td, .schedule th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: top;
}

ul {
    list-style: none;
}

.schedule ul {
    padding-left: 0;
}


.radio-toolbar {
    list-style: none;
    padding-left: 0;
    width: 120px;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label, #submit {
    display: inline-block;
    background-color: #ddd;
    padding: 2px 5px;
    margin-top: 5px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar label:hover {
    background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}

#submit {
    margin-left: auto;
    margin-right: 0;
    width: 50px;
    display: block
}