<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Change password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        .alert {
            margin-bottom: 5px;
            height: 40px;
            line-height: 35px;
            padding: 0px 15px;
        }
    </style>
    <style>
        .alert {
            margin-bottom: 5px;
            height: 40px;
            line-height: 35px;
            padding: 0px 15px;
        }
    </style>
</head>
<body>
<div class="container">
    <form class="form-signin" th:method="put" action="/users/me/change-password" th:object="${changePassword}">
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            <p>Bad credentials</p>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('oldPassword')}">
            <p th:each="error: ${#fields.errors('oldPassword')}"
               th:text="${error}"
            >Old Password Error</p>
        </div>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="password"
                   id="username"
                   th:field="*{oldPassword}"
                   class="form-control"
                   placeholder="Old password"
                   required
                   autofocus>
        </p>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('newPassword')}">
            <p th:each="error: ${#fields.errors('newPassword')}"
               th:text="${error}"
            >New Password Error</p>
        </div>
        <p>
            <label for="password" class="sr-only">New password</label>
            <input type="password"
                   id="password"
                   th:field="*{newPassword}"
                   class="form-control"
                   placeholder="New password"
                   required>
        </p>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
    </form>
</div>
</body>
</html>