<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="page" th:content="${param.page} == null ? '0' : ${param.page}">
    <title>Doctors</title>
    <link rel="shortcut icon" th:href="@{/media/logo.ico}"/>
    <link rel="stylesheet" th:href="@{/style/doctors-style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:src="@{/js/load-nav.js}"></script>
    <script type="text/javascript">
        function doctor(id) {
            window.location.href = "/doctor?id=" + id;
        }

        function previousPage() {
            window.location = `/doctors?page=`.concat((parseInt($('meta[name=page]').attr('content')) - 1).toString())
        }

        function nextPage() {
            window.location = `/doctors?page=`.concat((parseInt($('meta[name=page]').attr('content')) + 1).toString());
        }
    </script>
</head>
<body>
<header id="navigation">
</header>
<div id="content">
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item"><p class="page-link"
                                     onclick="previousPage()">
                Previous</p>
            </li>
            <li class="page-item"><p class="page-link"
                                     onclick="nextPage()">
                Next</p>
            </li>
        </ul>
    </nav>
    <ul style="margin: auto; width: 600px; padding-left: 0">
        <li class="doctor" th:each="doctor : ${doctors}" th:onclick="'doctor(' + ${doctor.getId()} + ')'">
            <h5>
                <span th:text="${doctor.getFirstName()}">first-name</span>
                <span th:text="${doctor.getLastName()}">last-name</span>
            </h5>
            <p>Specialization: <span th:text="${doctor.getSpecialization().getName()}">specialization</span>
            </p>
            <p><a th:href="'/clinic?id=' + ${doctor.getClinicId()}">Clinic</a></p>
        </li>
    </ul>
</div>
</body>
</html>