<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BeHelsi</title>
    <link rel="shortcut icon" th:href="@{/media/logo.ico}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:src="@{/js/load-nav.js}"></script>
    <link rel="stylesheet" th:href="@{/style/doctor-style.css}">
</head>
<body>
<header id="navigation">
</header>
<div id="content">
    <div class="doctor">
        <h2>
            <span th:text="${doctor.getFirstName()}">first-name</span>
            <span th:text="${doctor.getLastName()}">last-name</span>
        </h2>
        <ul>
            <li>Specialization: <span th:text="${doctor.getSpecialization().getName()}">specialization</span></li>
            <li>Price starts at: <span th:text="${doctor.getPrice()}"></span></li>
        </ul>
        <p><a th:href="'/clinic?id=' + ${doctor.getClinicId()}">Clinic</a></p>
    </div>
    <div class="schedule">
        <form method="post" action="/doctor/appointments" th:object="${appointment}">
            <table>
                <thead>
                <tr>
                    <th th:each="date : ${schedule.keySet()}">
                        <div th:text="${date.dayOfWeek.name()}">date</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:each="entry : ${schedule.entrySet()}">
                        <ul class="radio-toolbar">
                            <li th:each="time: ${entry.getValue()}">
                                <input type="radio"
                                       th:id="${entry.getKey()} + 'T' + ${time}"
                                       th:value="${entry.getKey()} + 'T' + ${time}"
                                       name="inputDateTime">

                                <label th:for="${entry.getKey()} + 'T' + ${time}"
                                       th:text="${time}">time</label>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="hidden"
                   th:value="${doctor.getId()}"
                   name="doctorId">
            <button type="submit" id="submit">OK</button>
        </form>
    </div>
</div>
</body>
</html>