<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctors</title>
    <link rel="shortcut icon" th:href="@{/media/logo.ico}"/>
    <link rel="stylesheet" th:href="@{/style/doctors-style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:src="@{/js/load-nav.js}"></script>
    <script type="text/javascript">
        function doctorUrl(id) {
            window.location.href = "/doctor?id=" + id;
        }

        $.get("/api/doctors", function (doctors) {
            $(".doctors").append(renderDoctors(doctors))
        });

        function renderDoctors(doctors) {
            let result = '';
            doctors.forEach(doctor => {
                result += renderSingleDoctor(doctor);
            });
            return result;
        }

        function renderSingleDoctor(doctor) {
            return `<li class="doctor" onclick=doctorUrl(${doctor.id})>
                        <h5> <span>${doctor.firstName}</span> <span>${doctor.lastName}</span></h5>
                        <p>Specialization: <span>${doctor.specialization.name}</span></p>
                        <p><a href="/clinic?id=${doctor.clinicId}">Clinic</a></p >
                    </li>`;
        }
    </script>
</head>
<body>
<header id="navigation">
</header>
<div id="content">
    <ul class="doctors">
    </ul>
</div>
</body>
</html>