<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Behelsi</title>
    <link rel="shortcut icon" th:href="@{/media/logo.ico}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/load-nav.js}"></script>
    <style>
        #content {
            margin-top: 40px;
        }

        .doctor {
            margin: auto;
            background: #F2F9F4;
            width: 900px;
            height: 200px;
            padding: 10px;
        }

        .doctor:hover {
            box-shadow: 0 0 5px 2px lightgray;
        }
    </style>
</head>
<body>
<header id="navigation">
</header>
<div id="content">
    <div class="doctor">
        <h2>
            <span th:text="${doctor.getFirstName()}">first-name</span>
            <span th:text="${doctor.getLastName()}">last-name</span>
        </h2>
        <ul style="list-style: none">
            <li>Specialization: <span th:text="${doctor.getSpecialization().getName()}">specialization</span></li>
            <li>Price starts at: <span th:text="${doctor.getPrice()}"></span></li>
        </ul>
        <p><a th:href="'/clinic?id=' + ${doctor.getClinicId()}">Clinic</a></p>
    </div>
</div>
</body>
</html>