<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Behelsi</title>
    <link rel="shortcut icon" th:href="@{/media/logo.ico}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:src="@{/js/load-nav.js}"></script>
</head>
<body>
<header id="navigation"></header>
<div id="content">
    <div class="media" style="text-align: center; margin: auto; display: block">
        <h3>Behelsi</h3><br>
        <img th:src=" @{/media/logo.png}" alt="logo" width="575px" height="500px">
    </div>
</div>
</body>
</html>