<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Cabinet</title>
    <link rel="shortcut icon" th:href="@{/media/logo.ico}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:src="@{/js/load-nav.js}"></script>
    <script type="text/javascript">
        $(function () {
            $.get("/api/patients/me/appointments/pending", function (appointments) {
                $("#list-pending").append(renderPendingAppointments(appointments));
            });
            $.get("/api/patients/me/appointments/archive", function (appointments) {
                $("#list-archive").append(renderArchivedAppointments(appointments));
            });

            function renderPendingAppointments(appointments) {
                let result = '';
                appointments.forEach(appointment => {
                    result += renderPendingAppointment(appointment)
                });
                return result;
            }

            function renderArchivedAppointments(appointments) {
                let result = '';
                appointments.forEach(appointment => {
                    result += renderArchivedAppointment(appointment)
                });
                return result;
            }

            function renderPendingAppointment(appointment) {
                let doctorFullName = getDoctorNameById(appointment.doctorId);
                let splits = appointment.dateTime.split('T');
                let date = splits[0];
                let time = splits[1];
                return `<ul class="list-group list-group-horizontal">
                        <li class="list-group-item"><a href="/doctor?id=${appointment.doctorId}">${doctorFullName}</a></li>
                        <li class="list-group-item">
                            <ul className="list-group list-group-flush">
                                <li className="list-group-item">Date: ${date}</li>
                                <li className="list-group-item">Time: ${time}</li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <form method="post" action="/patients/me/appointments/delete?id=${appointment.id}">
                                <input type="hidden" name="_csrf" value=${$("meta[name='_csrf']").attr("content")}>
                                <button type="submit" class="btn btn-light">Cancel</button>
                            </form>
                        </li>
                    </ul>`;
            }

            function renderArchivedAppointment(appointment) {
                let doctorFullName = getDoctorNameById(appointment.doctorId);
                let splits = appointment.dateTime.split('T');
                let date = splits[0];
                let time = splits[1];
                return `<ul class="list-group list-group-horizontal">
                        <li class="list-group-item"><a href="/doctor?id=${appointment.doctorId}">${doctorFullName}</a></li>
                        <li class="list-group-item">
                            <ul className="list-group list-group-flush">
                                <li className="list-group-item">Date: ${date}</li>
                                <li className="list-group-item">Time: ${time}</li>
                            </ul>
                        </li>
                    </ul>`;
            }

            function getDoctorNameById(doctorId) {
                let doctorFullName = '';
                $.get({
                    url: `/api/doctors/${doctorId}`,
                    success: function (doctor) {
                        doctorFullName = ''.concat(`${doctor.firstName}`, ' ', `${doctor.lastName}`);
                    },
                    async: false
                });
                return doctorFullName;
            }
        });
    </script>
</head>
<body>
<header id="navigation">
</header>
<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active"
               id="list-home-list"
               data-toggle="list"
               href="#list-pending"
               role="tab"
               aria-controls="home">Pending</a>
            <a class="list-group-item list-group-item-action"
               id="list-profile-list"
               data-toggle="list"
               href="#list-archive"
               role="tab"
               aria-controls="profile">Archive</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active"
                 id="list-pending"
                 role="tabpanel"
                 aria-labelledby="list-home-list">
            </div>
            <div class="tab-pane fade"
                 id="list-archive"
                 role="tabpanel"
                 aria-labelledby="list-profile-list">
            </div>
        </div>
    </div>
</div>
</body>
</html>